.search-buttons {
    text-align: center;
}

.ui-checkbox {
    margin: 0.1em 0.7em !important;
}

#firstFront {
    color: #9E9E9E;
    text-align: center;
    font-size: 3.1em;
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
    font-weight: 200;
    font-stretch: normal;
}

.store-blue {
    font-size: 16px;
    margin: 0px;
    color: #5e5e5e !important;
    font-weight: 400;
    line-height: 20px;
    max-width: 330px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.map-store-blue {
    font-size: 16px;
    margin: 0px;
    color: #5e5e5e !important;
    font-weight: 400;
    line-height: 20px;
    max-width: 240px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.store-green {
    font-size: 16px;
    margin: 0px;
    color: #006622 !important;
    font-weight: 400;
    line-height: 20px;
    max-width: 330px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.7 !important;
}

.map-store-green {
    font-size: 16px;
    margin: 0px;
    color: #006622 !important;
    font-weight: 400;
    line-height: 20px;
    max-width: 240px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.7 !important;
}

.zmap-general {
    font-family: "RobotoDraft", "Roboto", "Helvetica Neue", sans-serif;
    margin: 0px;
    font-weight: 400;
    /*line-height: 20px;*/
    max-width: 100%;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: inherit;
}

.zmap-big {
    width: 180px;
    font-weight: 500;
    color: #5e5e5e;
    font-size: 17px;
    margin-bottom: 10px;
}

.zmap-medium {
    font-size: 16px;
    line-height: 18px;
    margin-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 240px !important;
}

.zmap-small {
    margin-top: 4px;
    padding-top: 4px;
    border-top: 4px;
    font-size: 15px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 240px !important;
}

.zmap-image {
    height: auto;
    width: auto;
    max-width: 70px;
    max-height: 70px;

    display: block;
    position: absolute;
    top: 3px;
    right: 16px;
    overflow: hidden;
}

.zmap-img {
    width: 100%;
    display: block;
    border-width: 0;
}

.z-url {
    margin-top: 4px;
    opacity: 0.7;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-witdh: 240px;
}

.z-article {
    margin-bottom: 4px;
    line-height: 20px;
}

.z-article-name {
    font-size: 15px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.z-address {
    margin-bottom: 4px;
    line-height: 20px;
}

.z-card-title {
     min-height: 40px !important;
}

.z-card-primary-title {
    color: #5e5e5e !important;
    font-size: 19px;
    font-weight: 500 !important;
    line-height: 24px !important;
}

.z-color-false {
    color: #333 !important;
}

.z-color-true {
    color: #673ab7 !important; /*deep purple*/
    /*color: #00BCD4 !important; /!*cyan*!/*/
    /*color: #FF5722 !important; /!*deep orange*!/*/
    /*color: #2196F3 !important; /!*blue*!/*/
    /*color: #E91E63 !important; /!*pink*!/*/
}

.z-color-white {
    color: #fff !important;
}

.z-loader {
    position:fixed;
    display : block;
    background-position : center;
    width:100%;
    height:100%;
    text-align: center;
    margin-top: -22%;
    margin-left: -45%;
    opacity: 1;
}

.postdist {
    width: 100%;
    display: inline-block;
    text-overflow: inherit;
}

.postarea {
    width: 80%;
    float: left;
}

.dist {
    width: 20%;
}

.login {
    text-align: center;
    width: 100%;
}

.login1 {
    text-align: center;
    width: 40%;
}

/* changed defaults*/

/* clear-button */
.ui-btn-icon-notext, .ui-header button.ui-btn.ui-btn-icon-notext, .ui-footer button.ui-btn.ui-btn-icon-notext, .ui-intput-clear {
    padding: 0;
    width: 2.5em !important;
    height: 2.5em !important;
    text-indent: -9999px;
    white-space: nowrap !important;
    margin: -20px 0px 0 !important;
}

.ui-input-search:after {
    position: absolute;
    left: 0px !important;
    /*padding-right: 5px;*/
    top: 50%;
    margin-top: -7px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    filter: Alpha(Opacity=50);
    opacity: .5;
}

.ui-input-text input, .ui-input-search input, textarea.ui-input-text.ui-textinput-autogrow {
    font-size: 19px;
    border-radius: 0px;
    border: 0px solid #ffffff;
    position: relative;
    margin: 0px;
    padding: 4px 10px 0px 8px;
    line-height: 19px;
    /*background: rgba(33, 150, 243, 0.07);*/
    background: rgba(90, 90, 90, 0.07);
    text-shadow: none;
    font-family: "RobotoDraft","Roboto", "Helvetica Neue", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", Symbola, EmojiSymbols !important;
    font-weight: 400;
}

.nd2-card .card-title.has-supporting-text {
    padding: 8px 16px 0px 16px;
}

.nd2-card.card-media-right .card-supporting-text.has-title {
    padding-top: 8px;
}

.nd2-card .card-title .card-subtitle {
    font-size: 16px;
    margin: 8px 0px;
    color: #8e8e8e;
    font-weight: 400;
    line-height: 18px;
    max-width: 100%;
    overflow: inherit;
    white-space: nowrap;
    text-overflow: inherit;
}

.ui-listview .ui-li-has-thumb > img:first-child, .ui-listview .ui-li-has-thumb > .ui-btn > img:first-child {
    padding: auto;
    width: 100%;
    height: auto;
    margin: auto auto;
    left: 0.3em;
}

.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 5.5em;
}

.ui-listview img.ui-thumbnail.ui-thumbnail-circular {
    border-radius: 15% !important;
    overflow: hidden;
    height: auto !important;
    width: auto !important;
    max-width: 80px !important;
    max-height: 80px !important;
    /*display: block !important;*/
    /*text-align: center;*/
    /*transform: translateX(-50%) translateY(-50%);*/

    /*-webkit-transform: scale(0.8);*/
    /*-moz-transform: scale(0.8);*/
    /*-ms-transform: scale(0.8);*/
    /*-o-transform: scale(0.8);*/
    /*transform: scale(0.8);*/

}
.item-image /*.item-wrap*/ {
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*position: absolute;*/
}

.item-img {
    /*max-width: 70% !important;*/
    /*max-height: 70% !important;*/
    /*margin: auto !important;*/
    /*position: relative !important;*/
    /*top: 0; left: 0; bottom: 0; right: 0 !important;*/
}

.item-wrap {
    /*height: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/

    /*position: relative;*/
}

