.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    padding:  0.2em 0.2em 1px 0.2em;
}

/* HEADER */

.z-header {

    /*font-family: sans-serif;*/
    margin: 0;
    color: #300032;
    text-align: center;
    padding: 0.9em 2em 0;
    /*margin: 0.2em 0;*/
    font-size: 1.3em;
    font-weight: 600;
    /*border-bottom: 1px solid #eee;*/
}

/* RESULTS */

#results {
    width: auto;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 5em;

    border-bottom: 1px solid #222;

}

/* MAIN */

#main {
    background-color: #ffffff;
}

.store-name {
    /*padding-top: 0.7em !important;*/
    /*margin-top: 0.7em;*/
    font-size: 1.2em;
    /*color: #333;*/
    font-weight: 700;
    color: #000;
}

.store-street {
    font-size: 0.9em;
    font-weight: 700;
    color: #222;
}

.store-postcode {
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

a {
    text-decoration: none;
    color: #111;
    /*font-weight: 500;*/

}

.showUrl {
    /*color: darkgreen !important;*/
    color: rgb(28, 184, 65); /* this is a green */

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.85em;
    font-weight: 600;
}

.article-ex {
    overflow: hidden;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 0.1em;
    margin-bottom: 1.5em;
}

.item-img {
    float: left;
    margin-right: 0.3em;
}

.footer {
    font-size: 0.8em;
    background: #ffffff;
    color: #000 !important;

    margin-top: 20.5em;
    /*margin-bottom: -1em;*/
    left: -1em;
    height: 5em;
}

#remember {
    font-weight: 600;
    font-color: #222 !important;
}
#searchfield {
    /*background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right 5px center;*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)),*/
    /*color-stop(100%, rgba(255, 255, 255, 0.7))), url("/img/sh/glyphicons-28-search.png") no-repeat right 5px center;;*/
    /*cursor: pointer;*/
    border: 1px solid #333;
    padding: 5px 30px 4px 4px; /* Use the same right padding (18) in jQ! */
    /*border-radius: 13px;*/
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 1px;
    transition: background 0.9s;
    color: #222;
    font-weight: 600;
    font-size: 1.1em;
    /*-webkit-colo*/
    margin-bottom: 0;
}

#searchfield.x {
    background-position: right -28px center;
}

/* (jQ) Show icon */
#searchfield.onX {
    cursor: pointer;
}

/* (jQ) hover cursor style */
#searchfield::-webkit-clear-button {
    /*display: none;*/
    /*width: 0;*/
    /*height: 0;*/
}

#near-me, #what, #where {
    background-position: right 5px center;
    line-height: 0.8em;
    color: #888;
    border: 1px ridge #666;
    padding: 5px 18px 5px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.9s;
}

.pure-menu-link {
    color: #e6e6e8;
}

/*.content {*/
/*line-height: 0.8em;*/
/*}*/

.pure-form select {
    height: 1.8em;
}

.pure-menu {
    margin-left: -0.7em;
}

.pure-menu-item {
    margin-top: 1em;
}

#searchbox {
    /*margin-top: 1.6em;*/
}

.pure-u-11-12 {
    padding: 0em;
}

.store-map {
    padding: 0.0em 0.0em 0.0em 0.0em;
    width: 40px;
    /*background: rgb(66, 184, 221); /!* this is a light blue *!/*/

}

.store-item {
    /*margin-top: 0.5em;*/
    font-weight: 100;
}

.store-item:first-of-type .pure-u-4-24, .store-item:first-of-type .digit {
    border-top: 1px solid #ddd;
    background-color: #FFFFFF;
}

.pure-u-4-24, .digit  {
    /*border-top: 1px solid #ddd;*/
    background-color: #FFFFFF;
    height: auto;
}

.store-item:last-of-type {
    /*border-bottom: 1px solid #ddd;*/
}

.product-single-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*width: 100%;*/
    /*display: block;*/
}

.store-url {
    /*font-size: 0.8em;*/
    /*float: right;*/
    /*padding: 0px 0px 0.9em 0px;*/
    /*font-weight: 200;*/
    margin-bottom: 1.7em;
    font-size: 0.9em;
    font-weight: 700;
    word-wrap: break-word;
    color: blue;
}

.store-blue {
    font-size: 0.9em;
    font-weight: 700;
    word-wrap: break-word;
    color: blue;
}

.store-bottom {
    display: block;
    font-size: 1em;
    /*color: #000;*/
    clear: both;
}

.store-location {
    float:right
    line-height: 1.4em;
    margin-bottom: 0.4em;
    font-size: 1em;
    font-weight: 700;
    color: #222;
}

.store-distance {
    font-size: 0.7em;
    text-align: right;
    float: right;
    padding: 0.35em 3px 3px 3px;
}

/*.pure-pusher {*/
/*background-color: #f8f8f8;*/
/*}*/

.pure-g {
    box-sizing: border-box;
    padding-bottom: 0.4em;
}

.first-row {
    margin-top: 0.5em;
    box-sizing: border-box;
    padding: 5px;
}

.pure-u-1-24 {
    margin-bottom: 1.8em;
    box-sizing: border-box;
    padding: 5px;
}

.pure-u-1-5, .pure-u-4-5, .pure-u-1-4, .pure-u-3-4, .pure-u-1-24x, .pure-u-3-24s, .pure-u-4-24, .pure-u-5-24,
.pure-u-6-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-5-24, .pure-u-19-24, .pure-u-20-24s {
    padding: 3px;
    box-sizing: border-box;
}

.pure-u-20-24, .pure-u-1-6, .pure-u-5-6, .pure-u-3-6 {
    padding: 0px;
    box-sizing: border-box;
}

.digit {
    padding: 0.9em 3px 3px 3px;
    box-sizing: border-box;
    float: right;
    font-size: 0.6em;
}

.product-index {
    float: right;
}

.pure-u-xxx1-24, .pure-u-3-24s, .pure-u-16-24 {
    border-top: 1px solid #ddd;
}

.pure-u-xxx1-24, .pure-u-3-24x, .pure-u-16-24x {
    border-top: 1px solid transparent;
}

.store-item:nth-child(even) {
    background: #ffffff
}

.store-item:nth-child(odd) {
    background: #fefefe
}

.store-item {
    border-top: 1px solid #222;

    /*box-shadow: 0px 5px 3px #555;*/
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}

.loading {
    color: #999;
}

.pure-u-1-3 {
    border-right: 1px solid #222;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.3em;
    font-color: #222;

}
.pure-u-8-24 {
    /*border: 4px solid #f00;*/
    box-sizing: border-box;
    border-right: 1px solid #222;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.3em;
    font-color: #222;


}

.bottom-menu {
    border-top: 1px solid #222;
    box-sizing: border-box;
    font-weight: 600;
    font-color: #222;
    position: fixed;
    left: 0em;
    top: 100%;
    width: 100%;
    margin-top: -2.2em;
    height: 2.2em;
    background-color: white;
}

.pure-table td {
    padding: 0.2em;
    letter-spacing: 0.15em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
/* Set your content font stack here: */
font-family:     "Thonburi", "Verdana", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}