<!DOCTYPE HTML>
<html>
<head>
    <title>Store Hunters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"/>
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css">-->
    <link rel="stylesheet" href="/vendor/waves/waves.min.css"/>
    <link rel="stylesheet" href="/vendor/wow/animate.css"/>
    <link rel="stylesheet" href="/css/nativedroid2.color.deep-purple.css">
    <link rel="stylesheet" href="/css/nativedroid2.css"/>
    <link rel="stylesheet" href="/css/zob-droid.css"/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
</head>
<body>

<div data-role="page" id="first-view">
    <div role="main" class="ui-content">
        <p></p><br/>
        <p></p><br/>
        <div id="firstFront">
            Store Hunters
        </div>
        <p></p><br/>
        <p></p><br/>
        <form class="search-form">
            <input class="search-field show-page-loading-msg" data-type="text" data-clear-btn="true" type="text"
                   autocapitalize="off" value="" autocomplete="off" spellcheck="false" autocorrect="off"
                   placeholder="Product, store or brand..."/>
            <div class="fieldset">
            </div>
        </form>
    </div>
    <div class="footer">
    </div>
</div>

<div data-role="page" id="list-view">
    <div role="main" class="ui-content" data-inset="false">
        <div class="z-header loader">
        </div>
        <div id="content">
            <form class="search-form">
                <input class="search-field show-page-loading-msg" data-type="text" data-clear-btn="true" type="text"
                       autocapitalize="off" value="" autocomplete="off" spellcheck="false" autocorrect="off"
                       placeholder="Product, store or brand..."/>
                <div class="fieldset">
                </div>
            </form>
            <!-- --------------------------------------------Start: score parameters handlebar template -------------------------------------------------------------------------------- -->
            <script id="parameters-template" type="text/x-handlebars-template">
                {{#each scoreFields}}
                <table class="pure-table pure-table-horizontal">
                    <tbody>
                    <tr>
                        <th>{{@key}}</th>
                        <th>Score</th>
                    </tr>
                    {{#each this}}
                    <tr>
                        <td>{{@key}}</td>
                        <td><input id="{{@../key}}.{{@key}}" type="text" value="{{this}}"></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/each}}
            </script>

            <div id="parameters" style="display: none">
                <div class="pure-u-2-24"></div>
                <div class="pure-u-12-24">
                    <div id="parameters-out"></div>
                </div>
            </div>

            <!-- --------------------------------------------End: score parameters handlebar template -------------------------------------------------------------------------------- -->
            <div id="results" class="gray">
                <p></p><br/>
                <p></p><br/>
                <p></p><br/>
                <p></p><br/>

                <!-- --------------------------------------------Start: search result handlebar template -------------------------------------------------------------------------------- -->
                <script id="results-template" type="text/x-handlebars-template">
                    {{#if error}}
                        <p></p><br/>
                        <p></p><br/>
                        <div class="nd2-card">
                            <div class="card-title has-supporting-text">
                                <p></p><br/>
                                <h3 class="card-primary-title" style="text-align: center">No results</h3>
                                <p></p><br/>
                                <!--<h3 class="card-primary-title">Your search did not match anything</h3>-->
                                <!--<h5 class="card-subtitle">Suggestions:</h5>-->
                            </div>
                            <div class="card-supporting-text has-action has-title">
                                <!--Check spelling<br/>-->
                                <!--Try fewer words<br/>-->
                                <!--Try more general words<br/>-->
                                <!--Try shorter or parts of words-->
                            </div>
                        </div>
                    {{else}}
                    {{#each lbus}}
                    <div class="nd2-card card-media-right card-media-small">
                        <div class="card-media">
                            {{articleImage this}}
                        </div>
                        <div class="card-title has-supporting-text z-card-title">
                            <h4 class="card-primary-title">
                                <a href="#lbu-view" data-id="{{lbu.cid}}" class="z-card-primary-title"
                                   onClick="formParams.lbucid='{{lbu.cid}}';formParams.lbupos={{@index}};return (function(){setLbu('{{lbu.cid}}');setLbuarticles('{{lbu.cid}}',formParams.q)})();">
                                    {{inc @index}}. {{lbu.name}}
                                </a>
                            </h4>
                            <h5 class="card-subtitle">
                                {{#unless ../formParams.webstore}}
                                <a href="#map-view" data-id="map-{{lbu.cid}}" onClick="formParams.lbucid='{{lbu.cid}}';formParams.lbupos={{@index}};return true;">{{lbu.street}}</a>
                                <br/>
                                <div class="postdist">
                                    <span class="postarea">
                                        <a href="#map-view" data-id="map-{{lbu.cid}}"
                                           onClick="formParams.lbucid='{{lbu.cid}}';formParams.lbupos={{@index}};return true;">
                                            {{lbu.postArea}}
                                        </a>
                                    </span>
                                    <span class="dist">&nbsp;{{distance lbu}}</span>
                                </div>
                                <br/>
                                {{/unless}}
                            </h5>
                        </div>
                        <div class="card-supporting-text has-action has-title">
                            {{deepLink cid this}}
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </script>
            </div>
            <!-- --------------------------------------------End: search result handlebar template -------------------------------------------------------------------------------- -->
        </div>
        <p> <br/> </p>
    </div>
    <div class="footer">
    </div>
</div>

<div data-role="page" id="lbu-view">
    <div data-role="content">
        <form class="search-form">
            <input class="search-field show-page-loading-msg" data-type="text" data-clear-btn="true" type="text"
                   autocapitalize="off" value="" autocomplete="off" spellcheck="false" autocorrect="off"
                   placeholder="Product, store or brand..."/>
            <div class="fieldset">
            </div>
        </form>
        <div class="nd2-card card-media-right card-media-small lbuNav">
            <script id="lbu-template" type="x-handlebars-template">
            {{#lbu}}
            <!--<div class="card-media">-->
                <!--{{#if logoUrl}}-->
                <!--<img src="{{logoUrl}}" class="z-lbu-logo" onerror="this.style.display='none'">-->
                <!--{{/if}}-->
            <!--</div>-->
            <div class="card-title has-supporting-text">
                <h4 class="card-primary-title z-card-primary-title">{{name}}
                </h4>
                <h5 class="card-subtitle">
                    <a href="tel:{{phone}}">{{phone}}</a><br/>
                    <br/>
                    <a href="#map-view" data-id="map-{{lbu.cid}}" onClick="formParams.lbucid='{{lbu.cid}}';return true;">{{street}}</a>
                    <br/>
                    <div class="postdist">
                        <span class="postarea">
                            <a href="#map-view" data-id="map-{{lbu.cid}}" onClick="formParams.lbucid='{{lbu.cid}}';return true;">{{postArea}}</a>
                        </span>
                        <span class="dist">&nbsp;{{distance lbu}}</span>
                    </div>
                </h5>
            </div>

            <div class="card-supporting-text has-action has-title">
                <a href="{{url}}" class="store-green" target="_blank">{{displayUrl}}</a></h3>
            </div>
            {{/lbu}}
            </script>
        </div>
        <div class="lbuarticlesNav">
            <script id="lbuarticles-template" type="x-handlebars-template">
            {{#articlelist lbuarticle}}
            <a href="{{url}}" target="_blank" class="waves-effect waves-button ui-btn">
                <img src="{{image}}" class="ui-thumbnail ui-thumbnail-circular" onerror="this.style.display='none'"/>
                <h2 class="z-article-name">{{name}}</h2>
                <p class="z-article-name">{{textEx}}</p>
            </a>
            {{/articlelist}}
            </script>
        </div>
        <p> <br/> </p>
        <p> <br/> </p>
    </div>
    <!-- /content -->
    <div class="footer">
    </div>
</div>

<div data-role="page" id="map-view">
    <div data-role="content">
        <form class="search-form-map">
            <input class="search-field show-page-loading-msg" data-type="text" data-clear-btn="true" type="text"
                   autocapitalize="off" value="" autocomplete="off" spellcheck="false" autocorrect="off"
                   placeholder="Product, store or brand..."/>
        </form>
        <div id="google-map"></div>
    </div>
    <div class="footer">
    </div>
</div>

<script id="fieldset" type="x-handlebars-template">
    {{fieldset}}
</script>
<script id="footer" type="x-handlebars-template">
    {{footer}}
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(document).on("mobileinit", function () {
        $.extend($.mobile, {
            defaultPageTransition: 'fade'
        })
    })
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="/vendor/waves/waves.min.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/js/nativedroid2.js"></script>
<script src="/js/nd2settings.js"></script>
<script src="/scorelab/bundle.js"></script>

</body>
</html>
