extends ../layout
block content
      div(data-role="header" data-position="fixed")
        if !hits.category
          a(href="javascript:history.back()" class="ui-btn-left" data-icon="back" data-ajax="false").
            Back
          h1.
            Add Category
        else
          a(href="javascript:history.back()" class="ui-btn-left" data-icon="back" data-ajax="false").
            Back
          h1.
            #{hits.category}
        a(href="" class="ui-btn-right" onclick='document.getElementById("editForm").submit()' data-icon="check" data-ajax="false").
          Save
      div(role="main" class="ui-content" )
        //label(for="search").
          //Search Category
        //form(action="/categories", method="get" data-ajax="false")
          //input(data-type="search" id="autocomplete" name="q" value=q)
        form(action="/categories/#{hits.id}" id="editForm" method="post" data-toggle="pill" data-ajax="false")
          label(for="category").
            Category (sv)
          input(type="text" name="category" id="category" spellcheck="false" autocorrect="off" data-clear-btn="false" value="#{hits.category}")
          label(for="category").
            Category (en)
          input(type="text" name="encategory" id="encategory" spellcheck="false" autocorrect="off" data-clear-btn="false" value="#{hits.i18n?hits.i18n.name.en:''}")
          input(type="hidden" name="id" id="category" value="#{hits.id}" data-clear-btn="false")
          label(for="category").
            Products
          - var kw = "";
          for val in hits.synonym
            - kw += "‧ " + val + "\r\n";
          textarea(name="keywords" id="keywords" class="category" data-mini="true" spellcheck="false" autocorrect="off" autocapitalize="off").
              #{kw}
          br
          label(for="primary").
            Comments, questions and metadata
          input(type="text" name="primary" id="primary" spellcheck="false" autocorrect="off" data-clear-btn="false" value="#{hits.primary}")
          p
          button(type="submit" class="z-button ui-shadow ui-btn ui-mini ui-corner-all" data-ajax="false").
            Save
      include ../footer

