extends ../layout
block content
  div(data-role="header" data-position="!fixed")
    h1.
      Category
  div(role="main" class="ui-content" )

    form(action="/categories", method="get" data-ajax="false")
      input(data-type="search" id="autocomplete" name="q" value="#{q?q:''}")
      a(href="/newcategory" data-icon="plus" id="new" class="ui-shadow ui-btn ui-btn-icon-right ui-mini ui-icon-plus ui-corner-all" data-ajax="false").
          Add Category
      ul(data-role="listview" id="category-list" data-inset="true")
        each val in hits
          li(class="category")
            a(href="/categories/#{val.id}" data-toggle="pill" data-ajax="false")
              h2= val.category
    include ../footer