h1 { text-transform: capitalize; }

#url-grid .ui-block-a { width: 70% !important; }

#url-grid .ui-block-b { width: 15% !important; }

#url-grid .ui-block-c { width: 15% !important; }

#coord-grid .ui-block-a { width: 16% !important; }

#coord-grid .ui-block-b { width: 42% !important; }

#coord-grid .ui-block-c { width: 42% !important; }

#zip-grid .ui-block-a { width: 30% !important; }

#zip-grid .ui-block-b { width: 70% !important; }

#name-grid .ui-block-a { width: 80%  }
/**/
#name-grid .ui-block-b { width: 20%  }

#category-grid .ui-block-a { width: 70% !important; }

#category-grid .ui-block-b { width: 30% !important; }

.ui-content { padding: 0.5em !important; }

form.login { padding: 0.5em !important; }

#search-words { padding: 0.1em 0.3em !important; }

.ui-listview li p { font-size: 1em !important; }

.ui-listview li h2 {
    font-size: 1.15em !important;
    margin: 0.1em 0 !important;
    word-wrap: break-word !important;
    white-space: normal !important;
}

li.lbu div p.categories {
    color: #555;
}

.ui-listview li p.categories {
    font-size: 1.0em !important;
    /*font-style: oblique !important;*/
    font-weight: 600 !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    text-transform: capitalize !important;
}

li p.articleName {
    font-size: 0.9em !important;
    /*font-style: oblique !important;*/
    font-weight: 600 !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    margin: 0.1em 0 !important;
}

.ui-listview>.ui-li-static {
    padding: .2em 0em  0em 0.3em !important;
}


#category-list li a, input#category, li#search-words div input, #categories-button, .ui-checkbox-on, .ui-checkbox-off { text-transform: capitalize !important; }

#postArea { text-transform: uppercase; }

textarea.ui-input-text {
margin: 0.1em !important;
padding: 0.3em !important;
font-family: Menlo;
line-height: 1.5em !important;
letter-spacing: 0.05em;
}

textarea.ui-input-text.category { padding: 0.5em !important; }

textarea.ui-input-text#textEx {
    font-family: Helvetica Neue, Helvetica, Arial;
    padding: 0.5em !important;
    margin-bottom: 1.2em !important;
}

/*.div-1 img {*/
    /*max-height: 5.0em;*/
    /*max-width: 5.0em;*/
    /*width: auto;*/
    /*height: auto;*/
/*}*/

li.article {
    margin: 0.0em 0 0 0 !important;
    padding: 0.0em 0 0 0.3em !important;
}

li article {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

#row-item section {
    margin: 0.1em 0 !important;
    float:left;
}

#row-item section.div-1 {
    width:25%;
}
#row-item section.div-2 {
    width:62%;
}
#row-item section.div-3 {
    /*float: right;*/
    text-align: center;
    width:13%;
}

.clear {clear:both;}

.z-metadata { font-family: inherit !important; }

.ui-collapsible-content { padding: 0.2em 0.35em 0.2em 0.2em !important; }

.ui-listview li p.street, .ui-listview li p.phone, .ui-listview li p.url , .ui-listview li p.lbu { margin: 0.1em 0 !important; }

.artStreet { margin: 0.1em 0 0 1.0em !important; font-size: 0.7em !important; color: #666 !important; }
.ui-listview li p.smallUrl { margin: 0.1em 0 !important; font-size: 0.7em !important;  }
.ui-listview li p.street { margin: 0.0em 0 0.4em !important; font-size: 0.9em !important; color: #666 !important; }

.ui-listview li a.ui-btn {
background-color: #ecf0f1 !important;
text-shadow: none !important;
color: #000000 !important;
}

.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb{
    padding-left: 4.25em;
}
.article .ui-btn-icon-right {
    padding-left: 5.5em !important;
}

.ui-listview > li .article p {
    margin: 0.1em 0 0.2em 0 !important;
}

.ui-corner-all {
-webkit-border-radius: 0.3em !important;
border-radius: 0.3em !important;
}

#posButton, #urlButton {
    margin-top: 0.75em;
    margin-left: 0.5em;
    background-color: #4690b2 !important;
    border-color: #264f61;
    color: #ffffff;
}

#no-logo-button {
    margin-top: 0.75em;
    margin-left: 0.5em;
    transform: translateY(80%);
    background-color: #4690b2 !important;
    border-color: #264f61;
    color: #ffffff;
}

#new {
    margin-top: 1.5em;
}

.ui-loader-textonly {
background-color: rgba(0, 0, 0, 0.0);
color: #e74c3c;
font-family: Menlo;
font-size: 1.8em;
text-shadow: 0  0px  0  #ffffff;
text-transform: capitalize;
box-shadow: 0 0 0 0 #000;
}

div.ui-collapsible-inset { padding: 0 0 0.9em  0 ; }

.meta-label {
    font-size: 0.9em !important;
    margin: 0 0 0.1em 0.2em !important;
}

.ui-checkbox.ui-mini { margin: 0.4em 0em 0.6em 0.2em !important; }

button.z-button { margin: 2.5em 0 0 0 !important; }

.z-save-field { padding: 0 1.1em 0 0 !important; }

.z-delete-field {
padding: 0 0 0 1.1em !important;
margin: 0 0 0 0 !important;
}

.z-delete-button {  margin: 0.446em 0 0 0 !important; }

li.lbu {
    padding: 0.3em 0 0 0.3em !important;

}

.lbu-a {
    width:20% !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*text-align: center;*/

}

.lbu-a img {
    margin: 0.4em 0 0 0.1em;
    max-height: 3.7em;
    max-width: 3.8em;
    width: auto;
    height: auto;
    transform: translateY(80%);
}

.lbu-b {
    width:66% !important;
}

.lbu-c {
    text-align: center;
    width:14% !important;
}

.article-a {
    width:20% !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*text-align: center;*/

}

.article-a img {
    margin: 0.5em 0 ;
    max-height: 3.9em;
    max-width: 3.9em;
    width: auto;
    height: auto;
    transform: translateY(80%);
}

.article-b {
    width:77% !important;
}

@media only screen and (max-width: 760px) {
    #not-visible-on-phone { display: none; }
    #name-grid .ui-block-a { width: 68% !important; }
    #name-grid .ui-block-b { width: 32% !important; }

}

a {
    text-decoration: none;
}

.ui-table th, .ui-table td  {
    font-size: 0.85em !important;
    letter-spacing: 0.03em;
    font-weight: 700 !important;
}
