    
html
  head
    title.
      Crawl upload
    link( rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
    script(src="/javascripts/jquery-1.11.2.min.js")
    
  body    
    h1
      | Uppladdningsformulär


    hr
            
    h2
      | Radera alla artiklar

    table(class="pure-table")
      thead
        tr
          th Radera artiklar
          th Status
      tbody
        tr
          th
            button(class="btn", onclick="confirmDeleteAllArticles()").
              Radera alla artiklar
          th
            div(class="deleteArticlesResult" )
              
      
    script.
        function confirmDeleteAllArticles() {
          if (confirm("Vill du radera alla artiklar?") == true) {
            console.log("You pressed ok")
            $.ajax({
              url: "/api/article",
              type: 'DELETE',
              success: function(result) {
                console.log('Raderat!')
                $( "div.deleteArticlesResult" ).html( 'Alla artiklar är raderade. Gå in och kontrollera att de är borta.' );
              }
            });
          } else {
            console.log("You pressed cancel")
          }
        }

    hr
        
    h2
      | Upload crawled json
          
    form(action="/crawl/upload", method="post", enctype="multipart/form-data")
      table(class="pure-table")
        thead
          tr
            th Upload crawled json
            th Input
            th Description
        tbody
          tr
            th
              label(for="lbu").
                LBU id:
            th
              input(type="input", name="lbu", id="lbu", value="#{cid?cid:''}")
            td.
              exempel: 6249235443209092260 <br>(http://nisse/edit?cid=6249235443209092260&q=gatt)  

          tr
            th
              label(for="type").
                type:
            th
              input(type="input", name="type", id="type", value="#{type?type:''}")
            td.
              article | collection
          tr
            th
              label(for="file").
                Välj fil:
            td
              input(type="file", name="displayImage", id="file")
            td.
              json file from import.io
          tr
            th
              label(for="submit").
                Ladda upp:
            th
              input(type="submit", name="skicka", id="submit")
            td.
              Do it!
    

        
    table(class="pure-table")
      thead
        tr
          th Input
          th Description
      tbody
        tr
          td LBU id
          td cid  (exempel: http://nisse/edit?cid=6249235443209092260&q=gatt)
        tr
          td Upload file
          td json file from import.io

    hr
            
    h2
      | Description of field mappings in json file
    table(class="pure-table")
      thead
        tr
          th Field name in our application
          th Field name in json import file
      tbody
        tr
          td url
          td _pageUrl
        tr
          td articleName
          td article_name
        tr
          td price
          td price
        tr
          td textEx
          td article_description
        tr 
          td cid (article id)
          td generated as hash(url)
        tr 
          td breadCrumb
          td breadCrumb
        tr 
          td type
          td type
