extends layout
block content
    div(data-role="header" data-position="fixed")
        h1.
            #{lbu.name}
        a(href="javascript:history.back()" class="ui-btn-left" data-icon="back" data-ajax="false").
            Back
    div(role="main" class="ui-content" )
        form(action="/articlelist-search/#{lbu.cid}/#{lbu.name}", method="get", data-ajax="false")
            input(data-type="search" id="autocomplete" name="q" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{q?q:''}")
        form(action="/articlelist", method="get", data-ajax="false")
            a(href="/newart/#{lbu.cid}/#{lbu.name}?back=articlelist" data-icon="plus" id="new" class="ui-shadow ui-btn ui-icon-plus ui-btn-icon-right ui-mini ui-corner-all" data-ajax="false").
                Add article
            p
            if (articles.length>0)
                a(href="" class="ui-shadow ui-btn ui-icon-delete ui-btn-icon-right ui-mini ui-corner-all" onclick="confirmDeleteAllArticles();return false").
                    Delete all articles for #{lbu.name}
                div(id="deleteArticlesResult").
            script.
                function confirmDeleteAllArticles() {
                    if (confirm("Are you sure about deleting all articles for #{lbu.name}?") == true) {
                        console.log("You pressed ok")
                        $.ajax({
                            url: "/api/lbu/#{lbu.cid}/article",
                            type: 'DELETE',
                            success: function(result) {
                                console.log('Raderat!')
                                $( "div.deleteArticlesResult" ).html( 'Alla artiklar är raderade. Gå in och kontrollera att de är borta.' );
                            }
                        });
                        $("#deleteArticlesResult").text('Deleting articles...');
                        console.log("ajax done")
                        setTimeout(function () {
                            location.href = '/articlelist/#{lbu.cid}/#{lbu.name}?back=searchlist&__msg__=Deleted all articles';
                        }, 1500);
                    } else {
                        console.log("You pressed cancel")
                    }
                }


            ul(data-role="listview" id="article-list" data-inset="true")
                each hit in articles
                    li(class="articles")
                        .ui-grid-a
                            if (hit._source.imageUrl)
                                a(href="#{hit._source.url}" target="_blank" data-toggle="pill" data-ajax="false" class="article")
                                    .ui-block-a.article-a
                                        img(src="#{hit._source.imageUrl}")
                            else
                                .ui-block-a.article-a
                                    img(src="/images/1.png")
                            a(href="/art/#{hit._id}/#{lbu.cid}/#{lbu.name}" data-toggle="pill" data-ajax="false" class="article")
                                .ui-block-b.article-b
                                    p(class ="articleName").
                                        #{hit._source.articleName}#{hit._source.price ? ', ' + hit._source.price  : ''}
                                    p(class="lbu")
                                        span(class="articleName")= hit._source.breadCrumb
                                    p(class ="smallUrl")= hit._source.textEx
    include footer