extends layout


block content
  div(data-role="header" data-position="fixed")
    a(href="javascript:history.back()" class="ui-btn-left" data-icon="back" data-ajax="false").
        Back
    if !hit.cid
      h1= hit.lbuName
    else
      h1= hit.lbuName
    a(href="" type="submit" class="ui-btn-right" onclick='document.getElementById("submit").click()' data-icon="check" data-ajax="false").
      Save
  div(role="main" class="ui-content")
    p
    form(id="articleform", action="/api/article", method="#{hit.cid?'PUT':'POST'}"  )
      label(for="articleName").
        Article Name:
      input(type="text" id="articleName" name="articleName" spellcheck="false" autocorrect="off" autocapitalize="on" value="#{hit.articleName}")
      label(for="url").
        Url:
      fieldset(class="ui-grid-a" id="url-grid")
        div(class="ui-block-a" )
          input( type="url" name="url" id="url" value="#{hit.url}" data-clear-btn="false")
        div(class="ui-block-b" )
          a(href="#{hit.url}" target="_blank" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-action ui-btn-icon-notext" id="urlButton").
              url
      label(for="imageUrl").
        Image URL:
      fieldset(class="ui-grid-b" id="url-grid")
        div(class="ui-block-a" )
            input(type="text" id="imageUrl" name="imageUrl" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{hit.imageUrl}")
        div(class="ui-block-b" )
            | &nbsp;
        div(class="ui-block-c" )
            if (hit.imageUrl)
                .lbu-a
                    img(src="#{hit.imageUrl}")
      label(for="breadCrumb").
          Breadcrumb:
      input(type="text" id="breadCrumb" name="breadCrumb" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{hit.breadCrumb?hit.breadCrumb:''}")
      label(for="textEx").
        Text:
      textarea(name="textEx" id="textEx" data-mini="true" spellcheck="false" autocorrect="off" autocapitalize="off").
          #{hit.textEx}
      label(for="price").
        Price:
      input(type="text" id="price" name="price" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{hit.price}")
      label(for="priowords").
        Prio words:
      input(type="text" id="priowords" name="priowords" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{hit.priowords}")
      input(type="hidden" id="cid" name="cid" value="#{hit&&hit.cid ? hit.cid : ''}")
      input(type="hidden" id="lbu" name="lbu" value="#{hit.lbu?hit.lbu:''}")
      input(type="hidden" id="lbuName" name="lbuName" value="#{hit.lbuName?hit.lbuName:''}")
      br
      fieldset(class="ui-grid-a")
          div(class="ui-block-a z-save-field")
              button(type="submit" id="submit" data-icon="check" onclick='document.getElementById("editForm").submit()'  class="ui-shadow ui-btn ui-mini ui-corner-all" data-ajax="false").
                  Save
          div(class="ui-block-b z-delete-field")
              if hit.cid
                  a(href="/api/article/#{hit.cid}" data-icon="delete" data-method='DELETE' _method='DELETE' id="deleteArticle" class="z-delete-button ui-shadow ui-btn ui-mini ui-corner-all" data-ajax="false").
                      Delete
      p

      div(id="result")


  script(type='text/javascript').
    $( "#articleform" ).submit(function( event ) {
      event.preventDefault();
      $.mobile.loading('show');
      var $form = $( this )
      var actionUrl = $form.attr( "action" );
      var url = $form.find( "input[name='url']" ).val();
      var articleName = $form.find( "input[name='articleName']" ).val();
      var breadCrumb = $form.find( "input[name='breadCrumb']" ).val();
      var lbu = $form.find( '#lbu' ).val();
      var lbuName = $form.find( '#lbuName' ).val();
      var imageUrl = $form.find( "input[name='imageUrl']" ).val();
      var price = $form.find( "input[name='price']" ).val();
      var priowords = $form.find( "input[name='priowords']" ).val();
      var textEx = $form.find("#textEx").val();
      var cid = $form.find("input[name='cid']").val();
      var data = {'url':url, 'articleName':articleName, 'breadCrumb':breadCrumb,
          'lbu':lbu, 'imageUrl':imageUrl, 'price':price, 'priowords':priowords, 'textEx':textEx, cid:cid };
      var xhr = new XMLHttpRequest();
      var what
      var wait
      if (cid) {
        actionUrl += '/'+cid
        xhr.open('PUT', actionUrl, true);
        what="Updated"
        wait=1000
      } else {
        xhr.open('POST', actionUrl, true);
        what="Added"
        wait=1000
      }
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      xhr.send(JSON.stringify(data));
      xhr.onloadend = function () {
        //alert(actionUrl+ " ==> " +JSON.stringify(data,null,4)+'\ndone\n');
        setTimeout(function () {
            if (cid) {
                location.href='/articlelist/'+lbu+'/'+lbuName+'?__msg__=Updated article';
            } else {
                location.href='/newart/'+lbu+'/'+lbuName+'?back=articlelist&__msg__=Saved article';
            }
        }, wait);
      };
    });
    $('#deleteArticle').on('click', function(e) {
      e.preventDefault();
      if (confirm('Are you sure you want to delete article?')) {
        $.mobile.loading('show');
        var actionUrl = $(this).attr("href");
        var lbu = $(":root").find( '#lbu' ).val();
        var lbuName = $(":root").find( '#lbuName' ).val();
        var xhr = new XMLHttpRequest();
        xhr.open('POST', actionUrl, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE')
        xhr.send();
        xhr.onloadend = function () {
            setTimeout(function () {
                location.href='/articlelist/'+lbu+'/'+lbuName+'?__msg__=Deleted article';
            }, 1000);
        };
      }
    });
  include footer
