extends layout
block content  body
    div(data-role="header" data-position="fixed")
      h1.
        Categories används den här?
    div(role="main" class="ui-content" )
      form(action="categories", method="post" enctype='application/json' )
        ul(data-role="listview" data-inset="true")
        each v,k in kategorier
          li
            label(for=k).
              #{k}:
            input( type="text" name="#{k}" id="#{k}" value="#{v}" data-clear-btn="true")       
        div   
          label(for=newitem).
            Ny kategori:
          input( type="text" name="#{maxKey}" id="#{maxKey}" value="" data-clear-btn="true")               
        div
          input( type="submit" name="submit" id="submit" value="spara" data-clear-btn="true")       
        div
          a(href="/searchlist?q=*")
            input(type="button" value="Tillbaks till listan")

      script.
        var counter = 1;
        var limit = 3;
        function addInput(divName){
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "Entry " + (counter + 1) + " <br><input type='text' name='myInputs[]'>";
            document.getElementById(divName).appendChild(newdiv);
            counter++;
        }



