extends layout
block content
    div(data-role="header" data-position="fixed")
        if hit.name || hit.location.lat === null
            a(href="javascript:history.back()" data-icon="back" id="btnBack" class="ui-btn-left" data-ajax="false").
                Back
            h4.
                #{hit.name}
        else
            a(href="javascript:history.back()" class="ui-btn-left" data-icon="back" data-ajax="false").
                Back
            h4.
                Add LBU
        a(href="" type="submit" class="ui-btn-right" onclick='document.getElementById("editForm").submit()' data-icon="check" data-ajax="false").
            Save
    div(role="main" class="ui-content" )
        form(action="searchlist", method="post" )
            if !hit.name
                label(for="search").
                    Search:
            input(data-type="search" id="autocomplete" name="q" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{hit.q && hit.q != 'undefined' ? hit.q : ''}")
        p
        form(action="edit" method="post" id="editForm" data-ajax="false")
            fieldset(class="ui-grid-a" id="name-grid")
                div(class="ui-block-a")
                    if !hit.name
                        label(for="name").
                            Name:
                    input( type="text" name="name" id="name" value="#{hit.name}" data-clear-btn="false" )
                div(class="ui-block-b")
                    label(for="webstore").
                        Web store
                    if hit.webstore && hit.webstore == true
                        input(id="webstore" name="webstore" type="checkbox" value="true"  checked="checked")
                    else
                        input(id="webstore" name="webstore" type="checkbox" value="true" )

            if !hit.name
                label(for="categories").
                    Categories:
            select(name="categories" id="categories" multiple="multiple" data-mini="true" data-native-menu="false")
                each k in hit.kategorier
                    option(value="#{k.id}" selected=k.selected) #{k.name}
            if !hit.street || hit.street == "missing"
                label(for="street").
                    Street:
            input( type="text" name="street" id="street" value="#{hit.street}" data-clear-btn="false")
            if !hit.postNumber
                label(for="postNumber").
                    Postcode:
            fieldset(class="ui-grid-a" id="zip-grid")
                div(class="ui-block-a")
                    input( type="text" name="postNumber" id="postNumber" value="#{hit.postNumber}" data-clear-btn="false")
                div(class="ui-block-b")
                    input( type="text" name="postArea" id="postArea" value="#{hit.postArea}" data-clear-btn="false")
            fieldset(class="ui-grid-solo")
                if !hit.phone || hit.phone == "missing"
                    label(for="phone").
                        Phone:
                input( type="text" name="phone" id="phone" value="#{hit.phone}" data-clear-btn="false")
            if !hit.url || hit.url == "missing"
                fieldset(class="ui-grid-solo")
                    label(for="url").
                        URL:
                    if hit.url == "missing"
                        input( type="url" name="url" id="url" value="#{hit.url}" data-clear-btn="true")
                    else
                        input( type="url" name="url" id="url" value="#{hit.url}" data-clear-btn="false")
            else
                fieldset(class="ui-grid-a" id="url-grid")
                    div(class="ui-block-a" )
                        input( type="url" name="url" id="url" value="#{hit.url}" data-clear-btn="false")
                    div(class="ui-block-e" )
                        a(href="#{hit.url}" target="_blank" title="#{hit.url}" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-action ui-btn-icon-notext" id="urlButton").
                            url
                        span &nbsp;&nbsp;&nbsp;&nbsp;
                        a(href="/articlelist/#{hit.cid}/#{hit.name}" title="Articles" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-bullets ui-btn-icon-notext" id="urlButton").
                            url
                        span(id="not-visible-on-phone")
                            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type:
                            select(name="upload-type" id="upload-type" title="Choose article or collection for upload" data-mini="true" data-inline="true")
                                option(value="article") Article
                                option(value="collection") Collection
                            a(href="/crawl/upload/#{hit.cid}?type=article" target="upload" title="Upload" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-icon-arrow-u ui-btn-icon-notext" id="uploadButton").
                                url
            fieldset(class="ui-grid-solo")
                if !hit.logoUrl || hit.logoUrl === "undefined"
                    label(for="logoUrl").
                        Logo URL:
                input( type="text" name="logoUrl" id="logoUrl" value="#{hit.logoUrl?hit.logoUrl:''}" data-clear-btn="false")
            if !hit.location && !hit.location.lat
                label(for="lat").
                    Coordinate:
            fieldset(class="ui-grid-b" id="coord-grid")
                div(class="ui-block-a" )
                    a(href="" onclick="getLocation()" title="Set current position" class="ui-btn ui-shadow ui-corner-all ui-icon-location ui-btn-icon-notext" id="posButton").
                        use
                div(class="ui-block-b" )
                    input( type="text" name="lat" id="lat" value="#{hit.location.lat}" data-clear-btn="false")
                div(class="ui-block-c")
                    input( type="text" name="lon" id="lon" value="#{hit.location.lon}" data-clear-btn="false")
            p
            if (hit.catProdsSize)
                div(data-role='collapsible' data-mini="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-collapsed="true")
                    h4
                        span #{hit.catProdsSize} product words in #{hit.catCatsSize}
                        span= ' '
                        if (hit.catCatsSize === 1)
                            span category
                        else
                            span categories
                    table#table-custom-2.ui-body-d.ui-shadow.table-stripe.ui-responsive.ui-table(data-column-btn-theme='a')
                        thead
                            tr
                                th(data-priority='1') Product words
                                if (hit.catCatsSize === 1)
                                    th Category
                                else
                                    th Categories
                        tbody
                            for k in hit.catProds
                                tr
                                    if (k.oneCatId)
                                        td
                                            a(href='/categories/#{k.oneCatId}?back=close', target='_blank', data-rel='external') #{k.word}
                                    else
                                        td #{k.word}
                                    td
                                        - var first = true
                                        for c,n in k.cat
                                            if (first === false)
                                                span= ', '
                                            - first = false
                                            a(href='/categories/#{c}?back=close', target='_blank', data-rel='external') #{n}
            for val, key in {brand: "Brands", product: "Products", value: "Value Words", block: "Block Words", geo: "Geo Words"}
                - var keyp = key+"phrases"
                - var meta = key+"Meta";
                if ( ((hit[keyp] && hit[keyp].length > 2) || (!hit.name && !hit.location.lat)) || hit[meta])
                    - var disp = false
                else
                    - var disp = true
                - var cap = (keyp === "brandphrases" || keyp === "geophrases")? "on" : "off";
                div(data-role='collapsible' data-mini="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-collapsed="true")
                    - var len = hit[keyp+"Length"] >0 ? "("+ hit[keyp+"Length"]+")" : ""
                    h4 #{val} #{len} #{hit[msg]}
                    textarea(name="#{keyp}" id="#{keyp}" data-mini="true" spellcheck="false" autocorrect="off" autocapitalize="#{cap}").
                        #{hit[keyp]}
                    label(for="#{meta}" class="meta-label").
                        Metadata for #{val}:
                    - var metadata = hit[meta] ? hit[meta] : ""
                    textarea(name="#{meta}" id="#{meta}" class="z-metadata" spellcheck="false" autocorrect="off" autocapitalize="off" data-mini="true").
                        #{metadata}
            p
            input( type="hidden" name="cid" id="cid" value="#{hit.cid}" data-clear-btn="true")
            fieldset(class="ui-grid-a")
                div(class="ui-block-a z-save-field")
                    button(type="submit" data-icon="check" onclick='document.getElementById("editForm").submit()'  class="ui-shadow ui-btn ui-mini ui-corner-all" data-ajax="false").
                        Save
                div(class="ui-block-b z-delete-field")
                    if hit.name
                        a(href="/delete?cid=#{hit.cid}&q=#{hit.q}" data-icon="delete"  id="deleteButton" class="z-delete-button ui-shadow ui-btn ui-mini ui-corner-all" data-ajax="false").
                            Delete
            p
            script.
                var lonField = document.getElementById("lon");
                var latField = document.getElementById("lat");
                var posButton = document.getElementById("posButton");

                function getLocation() {
                  if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                  } else { 
                    posButton.innerHTML = "Geolocation is not supported by this browser.";
                  }
                }

                function showPosition(position) {
                  lonField.value = position.coords.longitude;	
                  latField.value = position.coords.latitude;	
                  posButton.innerHTML="Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;	
                }
                $('#upload-type').on('change', function () {
                    var _ulb = $('#uploadButton');
                    var _href = _ulb.attr('href');
                    _ulb.attr("href", _href.replace(/type=.*/, "type=" + this.value));
                });
    include footer




