div(data-role="footer" data-position="fixed" )
    div(data-role="!tabs")
        div(data-role="navbar" data-iconpos="top" class="aui-state-persist")
            ul
                li
                    a(href="/searchlist" id="nav-lbu" data-toggle="pill" data-icon="home" data-ajax="false").
                        LBUs & Articles
                //li
                   //a(href="/articlelist" id="nav-art" data-icon="search" data-toggle="pill" data-ajax="false").
                      //Not a Demo yet
                li
                    a(href="/categories" id="nav-cat" data-toggle="pill" data-icon="tag" data-ajax="false").
                        Categories
script.
    $(document).ready(function () {
        var a = {
            "undefined": "#nav-lbu",
            undefined: "#nav-lbu",
            login: '#nav-lbu',
            searchlist: '#nav-lbu',
            edit: '#nav-lbu',
            newlbu: '#nav-lbu',
            art: '#nav-art',
            articlelist: '#nav-lbu',
            newart: '#nav-art',
            categories: '#nav-cat',
            newcategory: '#nav-cat'
        }[this.location.pathname.substring(1).replace(/\/.*/, "")];
        //console.log("FOOTER: " + this.location.pathname + " " + window.location.href + " '" + this.location.pathname.substring(1).replace(/\/.*/, "") + "' '" + a + "'");
        $(a).addClass('ui-btn-active ui-state-persist');

        $(function () {
            //$('#btnBack').click(function(){
            //   if(!confirm("Leave page?")) return false;
            //   history.back();
            //});
            $('#deleteButton').click(function (event) {
                //console.log("EVENT: "+ JSON.stringify($(this),null,4)) ;
                return confirm("Delete LBU?");
            });
            //$('#deleteArticle').click(function(event){
            //console.log("EVENT: "+ JSON.stringify($(this),null,4)) ;
            //return confirm("Delete Article?");
            //});
        });

        $(document).bind("pageinit", function () {
            $.mobile.loading('hide');
        });

        $.mobile.loading('show', {
            theme: "a", text: function () {
                var search = window.location.search;
                if (search.match(/back=close/)) {
                    $('a[href="javascript:history.back()"]').text('Close')
                    $('a[href="javascript:history.back()"]').attr('data-icon', 'delete')
                    $('a[href="javascript:history.back()"]').attr('href', 'javascript:window.close()')
                } else if (search.match(/back=edit/)) {
                    //alert(search);
                    $('a[href="javascript:history.back()"]').text('Back to Edit')
                    $('a[href="javascript:history.back()"]').attr('href', '/edit?cid=' + location.href.split('/')[4]);
                } else if (search.match(/back=articlelist/)) {
                    //alert(search);
                    $('a[href="javascript:history.back()"]').attr('href', '/articlelist/' + location.href.split('/')[4]+'/'+location.href.split('/')[5].replace(/[?&]__msg.*/,""));
                } else if (search.match(/back=searchlist/)) {
                    $('a[href="javascript:history.back()"]').attr('href', '/searchlist');
                }
                if (!search.match(/__msg__/)) {
                    return "";
                }
                var msg = search.replace(/.*__msg__=/, '').replace(/__msg__.*/, '');
                return "" + decodeURI(msg)
            }, textonly: true, textVisible: true
        })

        //execute code after 2 seconds
        setTimeout(function () {
            $.mobile.loading('hide');
        }, 2000);
    })
