doctype html
html
    head
        title.
            Store Hunter
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon-precomposed" href="images/zobman2.png")
        meta(http-equiv="Cache-control" content="no-cache, no-store, must-revalidate")
        meta(http-equiv="Pragma" content="no-cache")

        link(rel="stylesheet" href="/stylesheets/zob/themes/zob.min.css" )
        link(rel="stylesheet" href="/stylesheets/zob/themes/jquery.mobile.icons.min.css" )
        link(rel="stylesheet" href="/stylesheets/zob/zob.css" )
        link( rel="stylesheet" href="/jqmobile/jquery.mobile.structure-1.4.5.min.css" )
        script(type='text/javascript' src="/javascripts/jquery-1.11.2.min.js")
        script(type='text/javascript' src="/jqmobile/jquery.mobile-1.4.5.min.js")

    body
        div(data-role="page" id="myPage")
            block content
