extends layout
block content
  div(data-role="header" data-position="!fixed")
    h1= "LBU"
  div(role="main" class="ui-content")
    form(action="searchlist", method="post", data-ajax="false")
      input(data-type="search" id="autocomplete" name="q" spellcheck="false" autocorrect="off" autocapitalize="off" value="#{q?q:''}")
      a(href="/newlbu" data-icon="plus" id="new" class="ui-shadow ui-btn ui-btn-icon-right ui-mini ui-icon-plus ui-corner-all" data-ajax="false").
        Add LBU
      ul(data-role="listview" data-split-icon="arrow-u" data-split-theme="a" data-inset="true")
        each val in hits
          li(class="lbu")
            .ui-grid-b
              .ui-block-a.lbu-a
                if val.url && val.url != "missing"
                  a(href="#{val.url}" target="_blank")
                    if val.logoUrl && val.logoUrl != "undefined"
                      img(src="#{val.logoUrl}" target="_blank")
                    else
                      a(href="#{val.url}" target="#{val.name}" class="ui-btn ui-corner-all ui-icon-shop ui-btn-icon-notext" id="no-logo-button").
                        #
              .ui-block-b.lbu-b
                a(href="/edit?cid=#{val.cid}&q=#{q}" data-ajax="false")
                  h2= val.name
                - var delim = ''
                p(class="categories")
                  each cat in val.categorynamelist
                    | #{delim}
                    a(href="/categories/#{cat.id}" class="categories" data-ajax="false")= cat.name
                    - delim = ', '
                p(class ="street")= val.street
              .ui-block-c.lbu-c
                a(href="/articlelist/#{val.cid}/#{val.name}" class="ui-btn ui-corner-all ui-icon-bullets ui-btn-icon-notext" id="urlButton").
                  #
    include footer
    // ui-btn-inline ? på button