extends layout

//doctype html
//html(lang="en")
//    head
//    title= pageTitle
//
//    meta(name="viewport" content="width=device-width, initial-scale=1")
//    link(rel="stylesheet" href="stylesheets/jquerymobile/themes/shopper1.css")
//    link(rel="stylesheet" href="stylesheets/jquerymobile/themes/jquery.mobile.icons.min.css")
//
//
//    link(rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css")
//    script(src="http://code.jquery.com/jquery-1.11.1.min.js")
//    script(src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js")
//extends layout


block content
    div(data-role="header")
        h1= "Store Hunter"
    div(role="main" class="ui-content")
        form(name="login", action="/login", method="post" class="login")
            label(for="username").
              Username:
            input(type="text", name="username" id="username")
            label(for="username").
              Password:
            input(type="password", name="password" id="password")
            input(type="submit", value="Login")