 <!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=".">

    <title>Shmapz</title>

    <link rel="stylesheet" href="/bower_components/pure/pure-min.css"/>
    <link rel="stylesheet" href="/bower_components/pure/grids-responsive-min.css"/>
    <link rel="stylesheet" href="/css/zobsh.css"/>

    <script src="/bower_components/jquery-2.1.4.min/index.js"></script>

    
  </head>
  <body>


    <div id="layout">


      <div id="main">
        <div class="z-header loader">
        </div>

        <div id="content">

          <form id="searchbox" class="pure-form pure-g">
            <div class="pure-u-1-24">
              &nbsp;
            </div>
            <div class="pure-u-20-24">
              <input id="searchfield" class="pure-input-1" type="search" autocapitalize="off" placeholder=""
                     autocomplete="off" spellcheck="false" autocorrect="off">
            </div>


            <div class="pure-u-3-24">
              <button class="button-success pure-button">
                <img class="store-product" height="22" width="22" src="/img/sh/glyphicons-28-search.png"/>
              </button>
              &nbsp;
            </div>

            <div class="pure-u-1-24">
              &nbsp;
            </div>
            <div class="pure-u-5-12">
              <label for="remember">
                <input id="remember" type="checkbox" disabled> Sök nära mig
              </label>
            </div>
            <div class="pure-u-2-24">
              <span id="clickme" style="color: rgb(28, 184, 65);">[+]</span>
            </div>
            <div class="pure-u-9-24">
              <select id="where" class="pure-input-1" disabled>
                <option>Förfina sök</option>
                <option>Företagsnamn</option>
                <option>Varumärke</option>
                <option>Produktnamn</option>
              </select>
            </div>

            <div class="pure-u-2-24">
            </div>


            <!-- --------------------------------------------Start: score parameters handlebar template -------------------------------------------------------------------------------- -->


            <script id="parameters-template" type="text/x-handlebars-template">                  
              {{#each scoreFields}}
              <table class="pure-table pure-table-horizontal">
                <tbody>
                  <tr><th>{{@key}}</th><th>Score</th></tr>
                  {{#each this}}
                  <tr>
                    <td>{{@key}}</td>
                    <td><input id="{{@../key}}.{{@key}}" type="text"  value="{{this}}"></td>
                  </tr>                      
                  {{/each}}
                </tbody>
              </table>
              {{/each}}
            </script>
            
            <div id="parameters" style="display: none">
              <div class="pure-u-2-24"></div>
              <div class="pure-u-12-24">
                <div id="parameters-out"></div>
              </div>
            </div>
          </form>

          <!-- --------------------------------------------End: score parameters handlebar template -------------------------------------------------------------------------------- -->


          
          <div id="results" class="gray">

            <!-- --------------------------------------------Start: search result handlebar template -------------------------------------------------------------------------------- -->
            <script id="results-template" type="text/x-handlebars-template">

              {{#each lbus}}
              <section class="store-item">
                <div class="pure-g">
                  <div class="pure-u-1-1 first-row">
                    <span class="store-name">
                      <a href="#" onclick="">{{inc @index}}.{{lbu.name}}</a>
                    </span>
                  </div>

                  <div class="pure-u-1-6">
                    <a href="http://www.google.com/maps/place/{{location.lat}},{{location.lon}}/@{{location.lat}},{{location.lon}},17z"
                       target="_blank">
                      <div class="store-map"><img class="store-product" height="27" width="27"
                                                  src="/img/sh/pin.png"/>
                      </div>
                    </a>
                  </div>
                  <div class="pure-u-5-6">
                    <a href="http://www.google.com/maps/place/{{location.lat}},{{location.lon}}/@{{location.lat}},{{location.lon}},17z"
                       target="_blank">
                      <div class="store-location">
                        <span class="store-street">{{lbu.street}}</span>,
                        <span class="store-postcode">{{lbu.postArea}}</span>
                      </div>
                    </a>
                    {{#if ../metadata.cid}}
                    <div class="store-location">
                      {{phone}}
                    </div>
                    <div class="store-url">
                      {{url}}
                    </div>
                    {{/if}}
                  </div>


                  {{#if articleHit}}
                  <div class="pure-u-1-1 ">                            
                    {{#if articleHit.imageUrl}}
                    <div class="item-img"><img width="38" height="38" src="{{lbuArticle.imageUrl}}"/></div>
                    {{/if}}
                    <div class="store-blue" cid="{{cid}}">{{articleHit.articleName}}</div>
                    <div class="showUrl">
                      <a href="{{lbuArticle.url}}" target="_blank" class="showUrl">{{articleHit.url}}</a>
                    </div>
                    <div class="article-ex">
                      {{articleHit.textEx}}
                    </div>
                  </div>
                  {{else}}
                  <div class="pure-u-1-1 ">
                    {{#if showUrl}}
                    <div class="item-img"><img width="34" height="34" src="{{showUrl}}"/></div>
                    {{/if}}
                    <div class="store-blue" cid="{{cid}}">{{lbu.name}} säljer {{../q}}</div>
                    <div class="showUrl">
                      <a href="{{linkUrl}}" target="_blank" class="showUrl">{{url}}</a>
                    </div>
                  </div>
                  {{/if}}
                  
                </div>
                <div>
                  <pre>
                    {{explainPopup}}
                  </pre>
                </div>
              </section>
              {{/each}}

            </script>
          </div>
          <!-- --------------------------------------------End: search result handlebar template -------------------------------------------------------------------------------- -->

        </div>
        <div class="pure-g bottom-menu">
          <div class="pure-u-8-24">
            <div class="menu-shmapz"><a href="side.html">@ Shmapz</a></div>
          </div>
          <div class="pure-u-1-3">
            <div class="menu-listvy"><a href="side.html">Listvy</a></div>
          </div>
          <div class="pure-u-1-3">
            <div class="menu-kartvy">Kartvy</div>
          </div>
        </div>

      </div>
    </div>

    <script src="bundle.js"></script>

  </body>
</html>
