			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="//lorempixel.com/400/200/abstract/6/" />
					<!--<img class='profile-background' src="/img/topp.jpeg" />-->
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<!--<img class="profile-thumbnail" src="//lorempixel.com/200/200/people/9/" />-->
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong>Settings</strong>
								<!--<span class='subline'>Super Power User</span>-->
							</div>
						</div>
					</div>
				</div>

                <!--<h4>Settings</h4>-->
                <ul data-role="listview" data-inset="false">
                    <li data-role="list-divider">Where</li>
                </ul>

                <div>
                <label for="remember" >
                    <input id="remember" type="checkbox" class="radio" value="1" > Near me
                </label>
                </div>

                <ul data-role="listview" data-inset="false">
                    <li data-role="list-divider">Search</li>
                </ul>

                <div>
                    <label>
                        <input type="radio" class="radio" value="1" name="fooby[1][]" checked/>All</label>
                    <label>
                        <input type="radio" class="radio" value="1" name="fooby[1][]" />Store names</label>
                    <label>
                        <input type="radio" class="radio" value="1" name="fooby[1][]" />Brand names</label>
                    <label>
                        <input type="radio" class="radio" value="1" name="fooby[1][]" />Product names</label>
                </div>

				<!--<select id="where" class="pure-input-1" style="float: left">-->
					<!--<option>Förfina sök</option>-->
					<!--<option>Företagsnamn</option>-->
					<!--<option>Varumärke</option>-->
					<!--<option>Produktnamn</option>-->
				<!--</select>-->
                <ul data-role="listview" data-inset="false">
                    <li data-role="list-divider">Extras</li>
                </ul>


                <label for="webshop" >
				<input id="webshop" type="checkbox" class="radio" value="1" name="fooby[2][]"> Web store
				</label>


				<!--<ul data-role="listview" data-inset="false">-->
					<!--<li data-role="list-divider"></li>-->
				<!--</ul>-->

				<!--<div  data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">-->
					<!--<h3>Basic Elements</h3>-->
<!---->
				<!--</div>-->
				<!--<span id="clickme" style="color: rgb(28, 184, 65);">[+]</span>-->


				<!--<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">-->


					<!--<h3>Basic Elements</h3>-->
					<!--<ul data-role="listview" data-inset="false" data-icon="false">-->
						<!--<li><a href="/examples/elements/text.html" data-ajax='false' data-icon="false">Text Elements</a></li>-->
						<!--<li><a href="/examples/elements/grid.html" data-ajax='false' data-icon="false">FlexboxGrid</a></li>-->
						<!--<li><a href="/examples/elements/buttons.html" data-ajax='false' data-icon="false">Buttons</a></li>-->
						<!--<li><a href="/examples/elements/header_footer.html" data-ajax='false'>Header &amp; Footer</a></li>-->
						<!--<li><a href="/examples/elements/listviews.html" data-ajax='false'>Listviews</a></li>-->
						<!--<li><a href="/examples/elements/forms.html" data-ajax='false'>Forms</a></li>-->
						<!--<li><a href="/examples/elements/tables.html" data-ajax='false'>Tables</a></li>-->
						<!--<li><a href="/examples/elements/dialog_popups.html" data-ajax='false'>Dialog &amp; Popup</a></li>-->
						<!--<li><a href="/examples/elements/panels.html" data-ajax='false'>Panels</a></li>-->
						<!--<li><a href="/examples/elements/autocomplete.html" data-ajax='false'>Autocomplete</a></li>-->
						<!--<li><a href="/examples/elements/collapsible_accordions.html" data-ajax='false'>Collapsible &amp; Accordions</a></li>-->
					<!--</ul>-->
				<!--</div>-->

				<!--<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">-->
					<!--<h3>Extended Elements</h3>-->
					<!--<ul data-role="listview" data-icon="false">-->
						<!--<li><a href="/examples/extended/tabs.html" data-ajax='false'>Tabs</a></li>-->
						<!--<li><a href="/examples/extended/cards.html" data-ajax='false'>Cards</a></li>-->
						<!--<li><a href="/examples/extended/search.html" data-ajax='false'>Search</a></li>-->
						<!--<li><a href="/examples/extended/icons.html" data-ajax='false'>Icons</a></li>-->
						<!--<li><a href="/examples/extended/charts.html" data-ajax='false'>Charts</a></li>-->
						<!--<li><a href="/examples/extended/toasts.html" data-ajax='false'>Toasts</a></li>-->
						<!--<li><a href="/examples/extended/bottomsheet.html" data-ajax='false'>Bottom Sheets</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<ul data-role="listview" data-inset="false">-->
					<!--<li data-role="list-divider">Layouts</li>-->
				<!--</ul>-->

				<!--<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">-->
					<!--<h3>Real-World-Examples</h3>-->
					<!--<ul data-role="listview" data-icon="false">-->
						<!--<li><a href="/examples/pages/profile.html" class="ui-disabled2" data-ajax='false'>Profile</a></li>-->
						<!--<li><a href="/examples/pages/dashboard.html" class="ui-disabled2" data-ajax='false'>Dashboard</a></li>-->
						<!--<li><a href="/examples/pages/gallery.html" class="ui-disabled2" data-ajax='false'>Gallery</a></li>-->
						<!--<li><a href="/examples/pages/chat.html" class="ui-disabled2" data-ajax='false'>Chat</a></li>-->
						<!--<li><a href="/examples/pages/mail_inbox.html" class="ui-disabled2" data-ajax='false'>E-Mail Inbox</a></li>-->
						<!--<li><a href="/examples/pages/team.html" class="ui-disabled2" data-ajax='false'>Team</a></li>-->
						<!--<li><a href="/examples/pages/products_services.html" class="ui-disabled2" data-ajax='false'>Products &amp; Services</a></li>-->
						<!--<li><a href="/examples/pages/blog.html" class="ui-disabled2" data-ajax='false'>Blog</a></li>-->
						<!--<li><a href="/examples/pages/blogpost.html" class="ui-disabled2" data-ajax='false'>Blogpost</a></li>-->
					<!--</ul>-->
				<!--</div>-->

				<hr class="inset">

				<!--<ul data-role="listview" data-inset="false">-->
					<!--<li data-role="list-divider">Schmapz (c) 2016</li>-->
				<!--</ul>-->
				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Copyright &copy; 2016 by Zoboni</li>
				</ul>

				<!--<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">-->
					<!--<h3>Nice to Know</h3>-->
					<!--<ul data-role="listview" data-icon="false">-->
						<!--<li><a href="/info/colors_and_styles.html" data-ajax='false'>Colors &amp; Styles</a></li>-->
						<!--<li><a href="/info/credits.html" data-ajax='false'>Credits &amp; License</a></li>-->
					<!--</ul>-->
				<!--</div>-->
			</div>
			<!-- /panel left -->


