<!DOCTYPE HTML>
<html>
<head>
    <title>Schmapz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"/>
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css">-->
    <link rel="stylesheet" href="/vendor/waves/waves.min.css"/>
    <link rel="stylesheet" href="/vendor/wow/animate.css"/>
    <link rel="stylesheet" href="/css/nativedroid2.color.teal.css">;
    <link rel="stylesheet" href="/css/nativedroid2.css"/>

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

</head>
<body>

<div data-role="page">

    <nd2-include data-src="panel.left.html"></nd2-include>

    <div data-role="panel" id="bottomsheet" data-animate="false" data-position='bottom' data-display="overlay">
        <nd2-include data-src="bottom.sheet.html"></nd2-include>
    </div>

    <form id="searchbox" class="pure-form pure-g">

        <div role="main" class="ui-content" data-inset="false">
            <div class="z-header loader">
            </div>

            <div id="content">
                <input id="searchfield" data-type="search" type="search" autocapitalize="off" value=""
                       autocomplete="off" spellcheck="false" autocorrect="off"
                       placeholder="Product, store or brand...">
                <div>
                    <label for="remember" >
                        <input id="remember" type="checkbox" class="radio" value="1" > Near me
                    </label>
                </div>
                <select id="where" class="pure-input-1" style="float: left">
                    <option>Filter</option>
                    <option>Store name</option>
                    <option>Brand name</option>
                    <option>Product name</option>
                </select>

                <!-- --------------------------------------------Start: score parameters handlebar template -------------------------------------------------------------------------------- -->

                <script id="parameters-template" type="text/x-handlebars-template">
                    {{#each scoreFields}}
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                        <tr>
                            <th>{{@key}}</th>
                            <th>Score</th>
                        </tr>
                        {{#each this}}
                        <tr>
                            <td>{{@key}}</td>
                            <td><input id="{{@../key}}.{{@key}}" type="text" value="{{this}}"></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    {{/each}}
                </script>

                <div id="parameters" style="display: none">
                    <div class="pure-u-2-24"></div>
                    <div class="pure-u-12-24">
                        <div id="parameters-out"></div>
                    </div>
                </div>
                <!--</form>-->

                <!-- --------------------------------------------End: score parameters handlebar template -------------------------------------------------------------------------------- -->


                <div id="results" class="gray">
                    <p></p><br/>
                    <p></p><br/>
                    <p></p><br/>
                    <p></p><br/>

                    <div id="hiddenFront"
                         style="font: 400 3.5em/125% 'Roboto Slab', serif; color:#9E9E9E;text-align: center;">
                        Schmapz
                    </div>



                    <!-- --------------------------------------------Start: search result handlebar template -------------------------------------------------------------------------------- -->
                    <script id="results-template" type="text/x-handlebars-template">

                        {{#each lbus}}
                        <!--<section class="store-item">-->
                        <div class="nd2-card card-media-right card-media-small">

                            <div class="card-media">
                                {{#if articleHit.imageUrl}}
                                <a href="{{articleHit.url}}">
                                    <img src="{{articleHit.imageUrl}}">
                                </a>
                                {{/if}}
                            </div>

                            <div class="card-title has-supporting-text">
                                <h4 class="card-primary-title"><a href="#" onclick="">{{inc @index}}. {{lbu.name}}</a>
                                </h4>
                                <h5 class="card-subtitle">
                                <a href="http://www.google.com/maps/place/{{lbu.location.lat}},{{lbu.location.lon}}/@{{lbu.location.lat}},{{lbu.location.lon}},17z"
                                   target="_blank">
                                    <i class="zmdi zmdi-pin" style="font-size:2em;"> </i> &nbsp; {{lbu.street}}{{#if
                                        lbu.postArea}}, {{lbu.postArea}}<br/>{{else}}<br/>{{/if}}
                                </a>
                                    {{#if articleHit.articleName}}
                                    {{else}}
                                        <div class="store-blue" cid="{{cid}}">{{lbu.name}} säljer {{../q}}</div>
                                    {{/if}}
                                </h5>
                            </div>
                            {{#if articleHit.articleName}}
                                <div class="card-supporting-text has-action has-title">
                                    <!--A biomaterial is any matter, surface, or construct that interacts with biological systems. As a science, biomaterials is about fifty years old. The study of biomaterials is called biomaterials science. It has experienced steady and strong growth over its history, with many companies investing large amounts of money into the development of new products.-->
                                    {{#if articleHit}}
                                        <div class="store-blue" cid="{{cid}}"
                                             style="font-size: 12px; max-width: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                            {{#if articleHit.imageUrl}}
                                                <a href="{{articleHit.url}}">
                                                    {{articleHit.articleName}}
                                                </a>
                                            <br/>
                                                <a href="{{articleHit.url}}">
                                                    {{articleHit.url}}
                                                </a>
                                            {{else}}
                                                {{articleHit.articleName}}
                                            {{/if}}
                                        </div>
                                    {{/if}}

                                </div>
                            {{/if}}

                        </div>
                        {{/each}}

                    </script>
                </div>
                <!-- --------------------------------------------End: search result handlebar template -------------------------------------------------------------------------------- -->

            </div>

        </div>
    </form>
    <div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">

        <div class="row center-xs">
            <div class="col-xs-4">
                <div class="box">
                    <a href="#" class="ui-btn ui-mini nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-info"></i> Schmapz</a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box">
                    <a href="#" class="ui-btn ui-mini nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-view-list"></i> List view</a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="box">
                    <a href="#" class="ui-btn ui-mini nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-map"></i> Mapview</a>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="/vendor/waves/waves.min.js"></script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/js/nativedroid2.js"></script>
<script src="/js/nd2settings.js"></script>
<script src="bundle.js"></script>

</body>
</html>
