<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px;  width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>

    <script src="/handlebars/handlebars.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    
  </head>
  <body>


    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <div id="results"></div>
    

    <script id="results-template" type="text/x-handlebars-template">
<div>
  {{#each res}}
  {{#if mycat.buckets}}
  <table class="pure-table">
    <tr><th>{{from}}-{{to}} meter</th></tr>
    {{#each mycat.buckets}}
    <tr>
      <td>{{doc_count}}</td>
      <td>{{key}}</td>
    </tr>
    {{/each}}
  </table>
  {{/if}}
  {{/each}}
  
</div>       

    </script>
    

<script>
var templateSource = document.getElementById('results-template').innerHTML;
var template = Handlebars.compile(templateSource);
var resultsPlaceholder = document.getElementById('results');

  var socket = io();
  $('form').on("input",function(){
   socket.emit('chat message', $('#m').val());
   return false;
  });
  socket.on('chat message', function(msg){
     $('#results').html(template({'res':JSON.parse(msg)}));
  });
</script>


  </body>
</html>
