<!DOCTYPE html>
<html>
  <head>
    <title>Searchlist</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="/pure/pure-min.css"/>
    <link rel="stylesheet" href="/css/list/list.css"/>
    <script src="/handlebars/handlebars.js"></script>
    <script src="/jquery-2.1.4.min/index.js"></script>
  </head>

  <body>
    <form id="searchbox">
      <input id="searchfield" type="text" placeholder="Type here">
      <input id="searchbutton" type="submit" value="Search" >
    </form>

    <div id="results"></div>
    

    <script id="results-template" type="text/x-handlebars-template">
<div>
  <table border=2>
    <tr>
      <td>no stemming</td>
      <td>with stemming</td>
    </tr>
    <tr>
      {{#each result as |r|}}
      <td>
        <ul>
          {{#each r as |hit|}}
          <li>
            <p>{{hit}}</p>
          </li>
          {{/each}}
        </ul>

      </td>
      {{/each}}
    </tr>
</div>       
      
    </script>
    
    <script src="searchlist.js"></script>

  </body>
</html>




